<app-header></app-header>

<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title size="large">Transport</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>

    <ion-item lines="none">
      <p>
        <ion-img src='./assets/images/Premier.jpg'></ion-img>
      </p>
    </ion-item>
    <ion-item>
      <p>
        Perlukan pemandu dan kenderaan mewah untuk majlis yang anda akan hadiri?
      </p>
    </ion-item>
    <ion-item>
      <p>
        Kami boleh bantu penuhi hajat anda
      </p>
    </ion-item>

  </ion-card>

  <app-fab-left></app-fab-left>

</ion-content>

<app-footer></app-footer>
