<ion-header>
  <ion-toolbar>
    <ion-button color="unset" slot="start">
      <ion-menu-button color="unset" menu="main-content"></ion-menu-button>
    </ion-button>
    <ion-title>Inbox</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <p>
    <app-action-sheet></app-action-sheet>
  </p>
  <p>
    <app-alert></app-alert>
  </p>

<!-- Item with badge on the right -->
<ion-item>
  <ion-label>My Item</ion-label>
  <ion-badge slot="end" color="warning">22</ion-badge>
</ion-item>

<br>

<!-- Item with badge on the left-->
<ion-item>
  <ion-badge slot="start">11</ion-badge>
  <ion-label>My Item</ion-label>
</ion-item>


</ion-content>
