<app-header></app-header>

<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title size="large">Antarabangsa</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>

    <ion-item lines="none">
      <p>
        <ion-img src='./assets/images/travel.png'></ion-img>
      </p>
    </ion-item>
    <ion-item>
      <p>
        MCO tapi masih mahu melancong?
      </p>
    </ion-item>
    <ion-item>
      <p>
        Kami boleh bantu penuhi hajat anda.
      </p>
    </ion-item>
    <ion-item>
      <p>
        Booking dulu tarikh & pergi kemudian. Senang sahaja.
      </p>
    </ion-item>

  </ion-card>

  <app-fab-left></app-fab-left>

</ion-content>

<app-footer></app-footer>
