  <!-- fab placed to the bottom and start and on the bottom edge of the content overlapping footer with a list to the right -->
  <ion-fab vertical="top" horizontal="end" class="fab-list">
    <ion-fab-button>
      <ion-icon name="information-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="bottom">
      <ion-fab-button target='_blank' href="https://www.instagram.com/saidinatravel/">
        <ion-icon name="logo-instagram"></ion-icon>
      </ion-fab-button>
      <ion-fab-button target='_blank' href="https://www.facebook.com/saidinatravelservices/">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
      <ion-fab-button target='_blank' href="https://wa.me/60192718870">
        <ion-icon name="logo-whatsapp"></ion-icon>
      </ion-fab-button>
      <ion-fab-button target='_blank' href="tel:+60192718870">
        <ion-icon name="call-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button target='_blank' href="mailto:saidinatravel@yahoo.com">
        <ion-icon name="mail-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
