<app-header></app-header>

<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title size="large">Umrah</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>

    <ion-card-header>
      <ion-card-subtitle>Pilih tarikh <span style="font-size:'18px'">selepas</span> PKP</ion-card-subtitle>
      <ion-card-title>Pakej Umrah penuh</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Pakej Umrah terbaik dengan diskaun terhebat.

      <ion-item lines="none">
        <ion-icon name="bed-outline" slot="start"></ion-icon>
        <ion-label> Penginapan 5 bintang</ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-icon name="star-outline" slot="start"></ion-icon>
        <ion-label> Perkhidmatan sepenuhnya</ion-label>
      </ion-item>
    </ion-card-content>

  </ion-card>

  <ion-card>

    <ion-card-header>
      <ion-card-subtitle>RM5,490</ion-card-subtitle>
      <ion-card-title>Royal Dar El Eiman Safwa Tower</ion-card-title>
      <ion-card-title>Dar El Eiman Al Manaar</ion-card-title>
    </ion-card-header>

    <ion-item href="#" class="ion-activated">
      <ion-icon name="wifi" slot="start"></ion-icon>
      <ion-label>5 min walk to Masjidil Haram</ion-label>
    </ion-item>

    <ion-item href="#">
      <ion-icon name="wine" slot="start"></ion-icon>
      <ion-label>2 person room</ion-label>
    </ion-item>

    <ion-item class="ion-activated">
      <ion-icon name="warning" slot="start"></ion-icon>
      <ion-label>Fullboard with insurance</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="walk" slot="start"></ion-icon>
      <ion-label>12 Hari 10 Malam</ion-label>
    </ion-item>

    <ion-item lines="none">
      <p>
        <ion-img src='./assets/images/PAKEJUMRAHOKTOBER.jpeg'></ion-img>
      </p>
    </ion-item>

  </ion-card>

  <ion-grid>
    <ion-row class="ion-align-items-end">
      <ion-col>
      </ion-col>
      <ion-col class="ion-align-self-start">
      </ion-col>
      <ion-col>
      </ion-col>
      <ion-col>
        <ion-button color="primary">Jom Pergi</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-fab-left></app-fab-left>

</ion-content>

<app-footer></app-footer>
