<app-header></app-header>

<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title size="large">Rental</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>

    <ion-item lines="none">
      <p>
        <ion-img src='./assets/images/rental.png'></ion-img>
      </p>
    </ion-item>

  </ion-card>

  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-icon class="icon-align" size="large" name="boat-outline"></ion-icon>
        </ion-col>
        <ion-col>
          <ion-icon class="icon-align" size="large" name="bus-outline"></ion-icon>
        </ion-col>
        <ion-col>
          <ion-icon class="icon-align" size="large" name="train-outline"></ion-icon>
        </ion-col>
        <ion-col>
          <ion-icon class="icon-align" size="large" name="car-outline"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <p>Perlu kereta besar untuk bawa keluarga pulang ke kampung atau bercuti.</p><br>
      <p>Ingin menarik ibu mertua, kami ada BMW, Mercedes & Audi untuk anda.</p><br>
    </ion-card-content>

  </ion-card>

  <app-fab-left></app-fab-left>

</ion-content>

<app-footer></app-footer>
