<ion-app>

  <ion-split-pane contentId="main-content">
    <ion-menu menuId="main-content" contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>
            Anda pilih, kami bawa &nbsp;<ion-icon name="earth-outline"></ion-icon>
          </ion-list-header>
          <ion-note>saidinatravel@yahoo.com</ion-note>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false"
              routerLinkActive="selected">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list id="Gallery-list">
          <ion-list-header>Gallery</ion-list-header>

          <ion-menu-toggle auto-hide="false" *ngFor="let q of gallery; let o = index">
            <ion-item routerDirection="root" [routerLink]="[q.url]" lines="none" detail="false"
              routerLinkActive="selected">
              <ion-icon slot="start" [ios]="q.icon + '-outline'" [md]="q.icon + '-sharp'"></ion-icon>
              <ion-label>{{ q.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list id="labels-list">
          <ion-list-header>Labels</ion-list-header>

          <ion-item *ngFor="let label of labels" lines="none">
            <ion-icon slot="end" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
            <ion-label>{{ label }}</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content">
      <div>

        <ion-button color="unset" slot="start">
          <ion-menu-button color="unset" menu="main-content"></ion-menu-button>
        </ion-button>

        <ion-img class="logo" src='./assets/icon/logo.png'></ion-img>

        <p style="display: grid; place-items: center; margin-top: 30vh; font-size: 25px;">
          Saidina Travel & Services
        </p>

        <p class="presents">
          presents to you
        </p>

        <ion-menu-button color="unset" menu="main-content">
          <ion-icon name='airplane-outline'></ion-icon>
          <ion-icon name='boat-outline'></ion-icon>
          <ion-icon name='car-sport-outline'></ion-icon>
          <ion-icon name='earth-outline'></ion-icon>
        </ion-menu-button>

        <ion-menu-button>
          <span class="presents">Swipe</span>
          <ion-icon size="small" name="arrow-forward-outline"></ion-icon>
        </ion-menu-button>

      </div>
    </ion-router-outlet>
  </ion-split-pane>

</ion-app>
