<ion-header>
  <ion-toolbar>
    <ion-button color="unset" slot="start">
      <ion-menu-button color="unset" menu="main-content"></ion-menu-button>
    </ion-button>
    <ion-title>Outbox</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-chip [disabled]="true">
    <ion-label>Disabled Chip</ion-label>
  </ion-chip>

  <ion-chip>
    <ion-icon name="heart" color="danger"></ion-icon>
    <ion-label color="danger">Default</ion-label>
  </ion-chip>

  <ion-chip>
    <ion-label>Button Chip</ion-label>
    <ion-icon name="close-circle"></ion-icon>
  </ion-chip>

  <ion-chip>
    <ion-icon name="pin" color="primary"></ion-icon>
    <ion-label>Icon Chip</ion-label>
    <ion-icon name="close"></ion-icon>
  </ion-chip>

  <ion-chip>
    <ion-avatar>
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    <ion-label>Avatar Chip</ion-label>
    <ion-icon name="close-circle"></ion-icon>
  </ion-chip>

</ion-content>
